* {
  margin: 0 auto;
  border: none;
}

html {
  box-sizing: border-box;
}

.red {
  background-color: #D0021B;
}

.blue {
  background-color: #4A90E2;
}

.grey {
  background-color: #4A4A4A;
}

.light-grey {
  background-color: lightgrey;
}

/*HEADER*/
header {
  height: 9vh;
  width: 100vw;
  padding-left: 5vw;
  padding-right: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
}

/*MAIN*/
main {
  padding: 7% 5%;
  background-color: white;
  min-height: 82vh;
}

/*LEFT COLUMN*/
.left-col {
  float: left;
  display: inline-block;
  width: 50%;
  padding-right: 10px;
}

/*TITLE*/
h1 {
  font-size: 32pt;
  margin-bottom: 20px;
}

.par {
  margin-bottom: 20px;
}

/*RIGHT COLUMN*/
.right-col {
  float: left;
  display: inline-block;
  width: 50%;
  padding-left: 10px;
}

.image-box {
  color: white;
  height: 40vh;
  margin-bottom: 20px;
}

/*FOOTER*/
footer {
  height: 9vh;
  width: 100vw;
  padding-left: 80vw;
  padding-right: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
