* {
  margin: 0 auto;
  border: none;
}

html {
  box-sizing: border-box;
}

.red {
  background-color: #D0021B;
}

.blue {
  background-color: #4A90E2;
}

.grey {
  background-color: #4A4A4A;
}

/*HEADER*/
header {
  height: 9vh;
  width: 100vw;
  padding-left: 80vw;
  padding-right: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
}

main {
  padding: 2% 5%;
  background-color: lightgrey;
}

.top-box {
  width: 90vw;
  background-color: white;
  padding: 4%;
  margin-bottom: 2%;
}

.par {
}

.button {
  color: white;
  display: inline-flex;
  padding: 10px 20px;
  margin: 2% 2% 0% 0%;
}

.bottom-box {
  /*height: 60vh;*/
  width: 90vw;
  background-color: white;
  padding: 4%;
}

.image-box {
  color: white;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

footer {
  height: 9vh;
  width: 100vw;
  padding-left: 80vw;
  padding-right: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
